<?xml version="1.0" encoding="utf-8" ?> 

<JellyPotDef xmlns="urn:Bet:ns:JellyPot:RuntimeConfig">

<Domains>
    <Domain host="localhost"
            defaultPath="/cs/default.aspx" />
    <Domain host="127.0.0.1"
            redirectTo="localhost" />

    <Domain host="naseweby"
            defaultPath="/cs/default.aspx" />
</Domains>

<Settings>
    <RunMode mode="debug" />
    <Admin language="cs" />

	  <Errors catch="false">
	  </Errors>
</Settings>

<EmailForms>
    <EmailServer name="primaryServer" from="john.smith@example.org" smtp="..." userName="..." pwd="..." />
    <EmailForm name="contact" server="primaryServer" toVar="about.email" />
</EmailForms>

</JellyPotDef>
