<?xml version="1.0" encoding="utf-8" ?> 

<JellyPotDef xmlns="urn:Bet:ns:JellyPot:RuntimeConfig">

<Domains>
  	<Domain host="localhost"
            defaultPath="/cs/default.aspx" />
    <Domain host="127.0.0.1"
            redirectTo="localhost" />
</Domains>

<Settings>
    <RunMode mode="debug" />
    <Admin language="cs" />

	  <Errors catch="false">
	  </Errors>
</Settings>

</JellyPotDef>
