<?xml version="1.0" encoding="utf-8" ?>
<JellyPotDef xmlns="urn:Bet:ns:JellyPot:SiteConfig">

    <!-- Just a project name -->
  	<Project name="MujBlog01" title="Můj cvičný blog" />

  	<!-- Set up languages -->
  	<Languages>
        <Language name="cs" title="cs" />
    </Languages>

    <!-- Define custom formats -->
    <Formats>
        <Format name="dateTimeLong" format="ddd d.M.yyyy, H:mm" />
        <Format name="dateTimeShort" format="d.M.yyyy, H:mm" />
        <Format name="date" format="d.M.yyyy" />
    </Formats>

    <!-- Declare variables and collections -->
    <Vars>
        <Collection name="blogPost" itemType="BlogPostItem" />
    </Vars>
    
    <!-- Declare types -->
    <Types>
        <Type name="BlogPostItem">
            <SimpleText name="title" />
            <DateTime name="published" />
            <Text name="text" />
        </Type>
    </Types>
	  
</JellyPotDef>
