<?xml version="1.0" encoding="utf-8" ?>
<JellyPotDef xmlns="urn:Bet:ns:JellyPot:SiteConfig">

    <!-- Just a project name -->
  	<Project name="MujBlog01" title="Můj cvičný blog" />

  	<!-- Set up languages -->
  	<Languages>
        <Language name="cs" title="cs" />
    </Languages>

    <!-- Define custom formats -->
    <Formats>
        <Format name="dateTimeLong" format="ddd d.M.yyyy, H:mm" />
        <Format name="dateTimeShort" format="d.M.yyyy, H:mm" />
        <Format name="date" format="d.M.yyyy" />
    </Formats>

    <!-- Declare variables and collections -->
    <Vars>
        <Collection name="blogPost" itemType="BlogPostItem" />
        <Var name="about" type="About" />
        <Collection name="blogPostCategory" itemType="BlogPostCategoryItem" />
        <Collection name="message" itemType="MessageItem" />
    </Vars>
    
    <!-- Declare types -->
    <Types>
        <Type name="BlogPostItem">
            <SimpleText name="title" />
            <DateTime name="published" />
            <Text name="text" />
            <Reference name="category" sourceCol="blogPostCategory" />
            <Collection name="comment" itemType="BlogPostCommentItem" />
        </Type>
        <Type name="BlogPostCommentItem">
            <SimpleText name="email" />
            <SimpleText name="name" />
            <DateTime name="added" />
            <Text name="message" />
        </Type>
        <Type name="About">
            <SimpleText name="name" />
            <SimpleText name="email" />
            <Img name="photo">
                <Size name="original" />
                <Size name="thumb" width="250" height="350" />
            </Img>
            <TinyText name="text" />
        </Type>
        <Type name="BlogPostCategoryItem">
            <SimpleText name="title" />
        </Type>
        <Type name="MessageItem">
            <SimpleText name="name" />
            <SimpleText name="email" />
            <Text name="message" />
        </Type>
    </Types>
	  
</JellyPotDef>
