<?xml version="1.0" encoding="utf-8" ?> 

<Texts lang="cs" xmlns="urn:Bet:ns:JellyPot:Texts">
    <Forms>
        <Contact>
            <Subject>Můj cvičný blog – někdo napsal</Subject>
            <Body>
                Gratuluji autore, píše ti čtenář tvého blogu.

                Jméno: {name}
                Email: {email}
                Zpráva: {message}
            </Body>
        </Contact>
    </Forms>
</Texts>
